.vc-system-emoji-emoji.vc-system-emoji-jumboable {
    font-size: var(--emoji-size-jumbo, 3em);
    line-height: var(--emoji-lh-jumbo, 1em);
    transform: translateY(var(--emoji-offset-jumbo, 1.25px));
}

.vc-system-emoji-emoji {
    display: inline-block;
    font-size: var(--emoji-size-jumbo, 1.4em);
    transform: translateY(var(--emoji-offset, 2.5px));
}
